<template>

    <div class="comment comment_container">

        <a class="avatar">
            <img :src="message.user.avatar"/>
        </a>

        <div class="content" :class="{ comment__self: selfMessage() }">

            <a class="author">{{ message.user.name }}</a>

            <div class="metadata">
                <span class="date comment__date">{{ message.timestamp | fromNow }}</span>

                <div class="text" v-if="!isFile(message)">{{ message.content }}</div>

                <img :src="message.image" class="ui image" alt="image" v-else=""/>

            </div>

        </div>
    </div>

</template>

<script>

    import { mapGetters } from 'vuex'
    import moment from 'moment'

    export default {

        name: 'single-message',

        props: ['message'],

        data () {
            return {};
        },

        methods: {
            selfMessage () {
                return this.message.user.id === this.currentUser.uid
            },
            isFile (message) {
                return !!message.image;
            }
        },

        computed: {
            ...mapGetters(['currentUser'])
        },

        filters: {
            fromNow (value) {
                return moment(value).fromNow();
            }
        }

    }
</script>

<style scoped="">
    .comment__container pre {
        font-size: 0.9em;
        background-color: silver;
        box-shadow: 3px 6px 9px 0 white;
    }

    .comment__self {
        border-left: 1px solid orange;
        padding-left: 8px;
    }

    .comment__image {
        min-height: 100px;
        margin-top: 16px;
    }

    .comment__date {
        color: #9f3a38;

    }
</style>