<template>
    <div class="ui middle aligned center aligned grid login__container">
        <div class="column">

            <h2 class="ui orange image header">
                <div class="content">
                    Slack Login
                </div>
            </h2>

            <form class="ui large form" :class="{'error' : hasErrors}">

                <div class="ui stacked segment">

                    <div class="field">
                        <div class="ui left icon input">
                            <i class="user icon"></i>
                            <input type="email" name="email" placeholder="Email" v-model.trim="email" required>
                        </div>
                    </div>

                    <div class="field">
                        <div class="ui left icon input">
                            <i class="lock icon"></i>
                            <input type="password" name="password" placeholder="Password" v-model.trim="password" required>
                        </div>
                    </div>

                    <div class="ui fluid large orange submit button" @click.prevent="login()"
                         :class="{'loading': isLoading}">Login</div>
                </div>

                <div class="ui error message" v-if="hasErrors">
                    <p v-for="error in errors" v-text="error"></p>
                </div>

            </form>

            <div class="ui message">
                Are you not registered? <router-link to="/register">Sing up</router-link>
            </div>
        </div>
    </div>
</template>

<script>

    export default {
        name: 'login',

        data() {
            return {
                email: '',
                password: '',
                errors: [],
                isLoading: false,
            }
        },

        computed:{
            hasErrors(){
                return this.errors.length > 0;
            }
        },

        methods: {
            login(){
                let context = this;
                context.errors = [];

                if(context.isFormValid()){
                    this.isLoading = true;
                    firebase.auth().signInWithEmailAndPassword(this.email, this.password).then((user) => {
                        this.$store.dispatch('setUser', user);
                        this.$router.push('/');
                    }).catch((error) => {
                        this.isLoading = false;
                        context.errors.push(error.message);
                    });
                }
            },
            isEmpty(){
                return this.email.length === 0 || this.password.length === 0;
            },
            isFormValid(){
                if (this.isEmpty()){
                    this.errors.push('Email and Password inputs are required');
                    return false;
                }
                return true;
            }
        }
    }
</script>

<style scoped>
    .login__container {
        margin-top: 40px;
    }

    .column {
        max-width: 450px;
    }
</style>
