<template>
    <div class="ui middle aligned center aligned grid login__container">
        <div class="column">

            <h2 class="ui orange image header">
                <div class="content">
                    Slack Register
                </div>
            </h2>

            <form class="ui large form" :class="{'error' : hasErrors}">

                <div class="ui stacked segment">

                    <div class="field">
                        <div class="ui left icon input">
                            <i class="user icon"></i>
                            <input type="text" name="name" placeholder="Name" v-model.trim="name" required>
                        </div>
                    </div>

                    <div class="field">
                        <div class="ui left icon input">
                            <i class="user icon"></i>
                            <input type="email" name="email" placeholder="Email" v-model.trim="email" required>
                        </div>
                    </div>

                    <div class="field">
                        <div class="ui left icon input">
                            <i class="lock icon"></i>
                            <input type="password" name="password" placeholder="Password" v-model.trim="password" required>
                        </div>
                    </div>

                    <div class="field">
                        <div class="ui left icon input">
                            <i class="lock icon"></i>
                            <input type="password" name="password_confirmation" placeholder="Password confirmation"
                                   v-model.trim="password_confirmation" required>
                        </div>
                    </div>

                    <div class="ui fluid large orange submit button" @click.prevent="register()"
                    :class="{'loading': isLoading}">Register</div>
                </div>

                <div class="ui error message" v-if="hasErrors">
                    <p v-for="error in errors" v-text="error"></p>
                </div>

            </form>

            <div class="ui message">
                Are you registered? <router-link to="/login">Sing in</router-link>
            </div>
        </div>
    </div>
</template>

<script>

    import md5 from 'md5'

    export default {
        name: 'register',

        data() {
            return {
                name: '',
                email: '',
                password: '',
                password_confirmation: '',
                errors: [],
                users: firebase.database().ref('users'),
                isLoading: false,
            }
        },

        computed:{
            hasErrors(){
                return this.errors.length > 0;
            }
        },

        methods: {
            register(){
                let context = this;
                context.errors = [];

                if(context.isFormValid()){
                    this.isLoading = true;
                    firebase.auth().createUserWithEmailAndPassword(this.email, this.password).then((user) => {
                        user.updateProfile({
                            displayName: context.name,
                            photoURL: 'http://www.gravatar.com/avatar/' + md5(user.email) + '?d=identicon'
                        }).then(() => {
                            this.saveUserToUserRef(user).then(() => {
                                this.$store.dispatch('setUser', user);
                                this.$router.push('/');
                            });
                        }).catch(error => {
                            this.isLoading = false;
                            context.errors.push(error.message);
                        });
                    }).catch((error) => {
                        this.isLoading = false;
                        context.errors.push(error.message);
                    });
                }
            },
            saveUserToUserRef(user){
                return this.users.child(user.uid).set({
                    displayName: user.displayName,
                    photoURL: user.photoURL
                });
            },
            isEmpty(){
                return this.name.length === 0 || this.email.length === 0;
            },
            passwordValid(){
                return this.password.length > 5 && (this.password === this.password_confirmation);
            },
            isFormValid(){
                if (this.isEmpty()){
                    this.errors.push('Name and Email inputs are required');
                    return false;
                }
                if (!this.passwordValid()){
                    this.errors.push('The password is very short or the password confirmations is not equal');
                    return false;
                }
                return true;
            }
        }
    }
</script>

<style scoped>
    .login__container {
        margin-top: 40px;
    }

    .column {
        max-width: 450px;
    }
</style>
