<template>
    <div class="sidebar">

        <h1 class="ui inverted center aligned header">Slack Clone</h1>

        <connected-user></connected-user>

        <channel></channel>

        <div class="ui divider"></div>

        <users></users>

    </div>
</template>

<script>

    import ConnectedUser from './ConnectedUser'
    import Channel from './Channel'
    import Users from './Users'

    export default {
        name: 'sidebar',
        components:  {
            ConnectedUser,
            Channel,
            Users
        }
    }
</script>

<style scoped="">
    .sidebar{
        position: fixed;
        display: flex;
        flex-flow: column nowrap;
        width: 300px;
        padding: 10px;
        top: 0;
        left: 0;
        bottom: 0;
        background-color: #424242;
        padding-top: 110px;
    }
</style>